/*Estilo del titulo*/
#titManLis{
    font-size: 2em;
    text-align: center;
}
/*Fin titulo*/

/*Estilo de la caja del buscador*/
#buscador{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: fit-content;
    margin: 1em auto 2em auto;
    padding: 0.25em 0.5em 0.25em 0.5em;
    background-color: black;
}
/*Fin  caja buscador*/

/*Estilo del buscador*/
#txtbus{
    height: 1.5em;
    border: none;
    width: 25em;
    background-color: black;
    color: #EEC51F;
}

/*La linea de codigo para quitar el estilo de la caja de texto al seleccionarse*/
#txtbus:focus{
    outline: 0;
}
/*Fin buscador*/

/*Estilo de la lupa*/
#lupa{
    height: 1.8em;
    background-color: rgb(87, 87, 87);
    margin-left: 0.5em;
}

#lupa:hover{
    cursor: pointer;
}
/*Fin lupa*/

/*Estilo de las cajas de los manuales*/
.manpos{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    width: auto;
    margin: 0.5em 0em 1em 0em;
    padding: 0.5em 0em 0.5em 1em;
}

.manpos > p{
    margin-left: 4em;
    margin-bottom: auto;
    margin-top: auto;
}
/*Fin cajas*/

/*Estilo de la caja general, con flechas y las bolitas*/
#cantPag{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 3em auto 2em auto;
    justify-content: space-evenly;
}
/*Fin caja general*/

/*Estilo de la caja de las flechas*/
#movIzq > img{
    height: 2em;
}

#movIzq > img:hover{
    cursor: pointer;
    animation: movIzq 2s ease 0s infinite normal forwards;
}

@keyframes movIzq {
    0%,
    100% {
    transform: translateY(0) rotate(0);
    }

    15% {
    transform: translateY(-15px) rotate(10deg);
    }

    30% {
    transform: translateY(7.5px) rotate(-10deg);
    }

    45% {
    transform: translateY(-7.5px) rotate(5deg);
    }

    60% {
    transform: translateY(4.5px) rotate(-5deg);
    }

    75% {
    transform: translateY(-3px) ;
    }
}


#movDer > img{
    transform: rotate(180deg);
    height: 2em;
}

#movDer > img:hover{
    cursor: pointer;
    animation: movDer 2s ease 0s infinite normal forwards;
}

@keyframes movDer {
    0%,
    100% {
    transform: translateY(0) rotate(180deg);
    }

    15% {
    transform: translateY(-15px) rotate(170deg);
    }

    30% {
    transform: translateY(7.5px) rotate(185deg);
    }

    45% {
    transform: translateY(-7.5px) rotate(175deg);
    }

    60% {
    transform: translateY(4.5px) rotate(182deg);
    }

    75% {
    transform: translateY(-3px) rotate(179deg);
    }
}
/*Fin caja flechas*/

/*Estilo de cajas de posicion*/
.numPag{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    text-align: center;
    opacity: 0.5;
    background-color: #EEC51F;
}

#posAct{
    opacity: 100;
}

.numPag:hover{
    opacity: 100;
    cursor: pointer;
}

.numPag > p{
    margin: 0px;
    padding: 0.4em;
}
/*Fin posicion*/

/*

ESTILO DE TABLET

*/
@media screen and (min-width: 480px){
    /*Estilo del buscador*/
    #txtbus{
        height: 2em;
        width: 25em;
        background-color: black;
        margin-left: auto;
        margin-right: 0;
    }

    /*Estilo de la lupa*/
    #lupa{
        height: 2em;
        margin-right: auto;
    }
    /*Fin lupa*/

    /*Estilo de las cajas de los manuales*/
    .manpos{
        width: 80%;
        margin: 0.5em auto 1em auto;
    }

    .manpos > p{
        font-size: 120%;
    }
    /*Fin cajas*/

    /*Estilo de la caja general, con flechas y las bolitas*/
    #cantPag{
        width: 60%;
    }
    /*Fin caja general*/

    /*Estilo de la caja de las flechas*/
    #movIzq > img{
        height: 3em;
    }

    #movDer > img{
        transform: rotate(180deg);
        height: 3em;
    }
    /*Fin caja flechas*/

    /*Estilo de cajas de posicion*/
    .numPag{
        width: 3em;
        height: 3em;
        border-radius: 3em;
    }

    .numPag > p{
        margin: 0px;
        padding: 0.9em;
    }
    /*Fin posicion*/
}

/*

ESTILO DE ORDENADOR

*/
@media screen and (min-width: 1025px) {
    /*Estilo del buscador*/
    #buscador{
        width: max-content;
    }
    /*Fin buscador*/

    /*Estilo de la caja buscador*/
    #txtbus{
        height: 2.5em;
    }
    /*Fin caja buscador*/

    /*Estilo de la lupa*/
    #lupa{
        height: 2em;
        margin-right: auto;
    }
    /*Fin lupa*/

    /*Estilo de la caja general, con flechas y las bolitas*/
    #cantPag{
        width: 60%;
    }
    /*Fin caja general*/

    /*Estilo de la caja de las flechas*/
    #movIzq > img{
        height: 3em;
    }

    #movDer > img{
        transform: rotate(180deg);
        height: 3em;
    }
    /*Fin caja flechas*/

    /*Estilo de cajas de posicion*/
    .numPag{
        width: 3em;
        height: 3em;
        border-radius: 3em;
    }

    .numPag > p{
        margin: 0px;
        padding: 0.9em;
    }
    /*Fin posicion*/

    /*Estilo de las cajas de los manuales*/
    #cajaMan{
        width: 100%;
        height: 100%;
        display: grid;
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        background-color: black;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
    }

    .manpos{
        height: 6em;
        float: left;
        width: 95%;
        background-color: red;
    }

    .manpos > p{
        font-size: 120%;
    }
    /*Fin cajas*/
}