/*

ESTILO DE MOVIL

*/

/*Estilo general de la caja*/
form{
    border: 4px solid #000000;
    border-radius: 17px;
    margin: auto;
    margin-top: 1em;
    width: 80%;
    /* padding-bottom: 6em; */
}
/*Fin general*/

#titulo_NewUsu{
    text-align: center;
}

/*Estilo de la parte de usuario y contraseña*/
.usudat_NewUsu{
    display: grid;
    margin: auto;
    text-align: left;
    width: 70%;
}
/*Fin de usuario y contraseña*/

/*Estilo del boton*/
#button_NewUsu{
    /* float: right; */
    display: block;
    background-color: black;
    color: white;
    margin: 5% auto;
    border: outset;
    padding: 1.5%;
}

#button_NewUsu:hover{
    color: #EEC51F;
    border:inset;
    cursor: pointer;
}
/*Fin boton*/

/*Estilo de las cajas de texto*/
.datos_NewUsu{
    background-color: rgb(0, 0, 0);
    color: #EEC51F;
    border: none;
}
/*Fin cajas texto*/

/*

ESTILO DE TABLET

*/
@media screen and (min-width: 480px) {
    /*Estilo de la caja general*/
    /* form{
        padding-bottom: 8em;
    } */
    /*Fin caja*/
    
    /*Estilo del titulo*/
    #titulo_NewUsu{
        font-size: 2em;
    }
    /*Fin de titulo*/

    /*Estilo de la parte de usuario y contraseña*/
    .usudat_NewUsu{
        font-size: 1.2em;
    }
    /*Fin de usuario y contraseña*/
}

/*

ESTILO DE ORDENADOR

*/
@media screen and (min-width: 1025px) {
    /*Estilo de la caja madre*/
    form{
        width: 70%;
    }
    /*Fin madre*/

    /*Estilo del titulo*/
    #titulo_NewUsu{
        font-size: 2.5em;
    }
    /*Fin de titulo*/

    /*Estilo de la parte de usuario y contraseña*/
    .usudat_NewUsu{
        font-size: 1.5em;
    }
    /*Fin de usuario y contraseña*/

    /*Estilo del boton*/
    #button_NewUsu{
        font-size: large;
        /* margin: 2em 3em 0em 0em; */
    }
    /*Fin boton*/

    /*Estilo de los grupos de caja horizontales*/
    .grupodatos_NewUsu{
        display: flex;
    }

    .grupodatos_NewUsu > .usudat_NewUsu{
        justify-content: space-around;
    }
    /*Fin cajas horizontales*/

    /*Estilo del boton*/
    /* #button_NewUsu{
        float: right;
    } */
    /*Fin boton*/
}