form {

    border: none;

}

.tituloFiltro {

    margin-top: 0;

}

.botonDescargar {

    text-decoration: none;
    display: inline-block;

}

.imagenTabla {

    width: 200px;
    height: 100px;

}

.celda {

    border: 2px solid black;
    text-align: center;
    padding: 0.5rem 0.9em;

}

.tituloColumna {

    background-color: black;
    border: 2px solid white;
    color: white;
    font-size: 1.1em;

}

.contenidoTabla {

    white-space: nowrap;
    font-size: 1em;

}

.acciones {

    display: flex;
    column-gap: 2%;
    text-align: center;
    margin-bottom: 2%;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    padding: 0.25em 0.5em 0.25em 0.5em;

}

.boton {
    border: 2px solid black;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* .boton:hover {

    opacity: 0.6;

} */

/* .botonCrear {

    /* background-color: green; 

} */

/* .botonModificar {

    background-color: blue;

} */

/* .botonEliminar {

    background-color: red;

} */

.ventanaEmergente {

    display: none;

}

.titulo {

    text-align: center;

}

.tabla {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contenido > article {

    margin: 3% 2%; 

}

.tituloColumna:first-child {

    background-color: #EEC51F;
    color: black;
    border: 2px solid black;

}

#lupa{
    height: 1.8em;
    background-color: rgb(87, 87, 87);
    margin-left: 0.5em;
}

#buscador{
    display: flex;
    /* align-items: center; */
    /* border: 1px solid black; */
    border-radius: 10px;
    width: fit-content;
    padding: 1%;
    margin-bottom: 0;
    /* margin: 1em auto 2em auto; */
    background-color: black;
}

#txtbus{
    height: 1.5em;
    border: none;
    width: 25em;
    background-color: black;
    color: #EEC51F;
}

#filtros {

    display: block;

}

#acciones {

    margin-left: 0;

}

#buscadorFiltros {

    display: flex;
    row-gap: 5%;

}

#filtros > div {
    border: 2px black solid;
    border-radius: 5px;
    padding: 3%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 3%;
}

#txtbus:focus{
    outline: 0;
}

#lupa:hover{
    cursor: pointer;
}





