body{
  background-image: url("../img/fondoIndex.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

body > h1 {
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

body section {
    background-color: white;
    display:column;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    height:100%;
    border-radius:0.5em;
    -webkit-border-radius:0.5em;
    -moz-border-radius:0.5em;
    -ms-border-radius:0.5em;
    -o-border-radius:0.5em;
}


body section a{
    display:column;
    text-decoration:none;
    margin:0.5em auto 1em;
    background-color:grey;
    width: 20em;
    height: 10em;
    border-radius: 0.5em;
    cursor:pointer;
    transition: filter 0.5s;
}

body section a img {
    overflow: hidden;
    display:block;
    width:15em;
    margin:auto;
    transition: 0.5s;
}

body section a:hover {
   filter: drop-shadow(0 0 4mm rgb(160, 0, 210));
   /* rgb(160, 0, 210) */
   transition: filter 0.5s;
}

body section a:hover > img{
    transform:scale3d(1.6, 1, 1) rotate(20deg) translate(-5px, -5px);
    filter: saturate(200%);
    transition: 0.5s;    
}

body section a h2 {
    position: relative;
    color:black;
    background-color:orange;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    text-align:center;
    font-size: 2em; 
    bottom:35px;
    /* z-index: 1; */
}

.flechasMovil {
    display:none;
    position:absolute;
    top:40%;
    width: 80px;
    text-align: center;
    font-size: 5em;
    color:orange;
    background-color: rgb(194, 192, 192);
    border: solid 0.1em grey;
    border-radius:100%;
    z-index: 2;
}

#flechaIzqMovil {left:0;}
#flechaDchMovil {right:0;}


/* SOLO EN MOVIL */
@media Screen and (max-width:480px) {
    /* Solo se mostrarán las 2 primeras secciones */
    body section a:nth-child(3),body section a:nth-child(4) {
        display:none;
    }
    /* Las flechas para alternar secciones se mostrarán */
    .flechasMovil {
        display:block;
    }
}

/* Tablet */
@media Screen and (min-width:480px) {
    .flechasMovil {display:none;}

    body section {
        display:grid;
        grid-gap:1em;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "article1 article2"
        "article3 article4";
    }
    
    #article1{grid-area:article1;}
    #article2{grid-area:article2;}
    #article3{grid-area:article3;}
    #article4{grid-area:article4;}
}

@keyframes apareceSectionIzq {
    from {
        transform: translateX(-10em);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes apareceSectionDch {
    from {
        transform: translateX(10em);
    }
    to {
        transform: translateX(0);
    }
}