form {

    width: 40%;
    margin: 0 auto;
    padding-bottom: 1%;

}

h1, p {

    text-align: center;

}

form p, .error {

    font-size: 0.7em;

}

form h1 {

    font-size: 0.9em;

}

.boton {

    width: 40%;
    padding: 3% 0;
    font-size: 0.2rem;
    /* height: 20%; */

}

#receptor {

    font-weight: bold;

}

#imgCab {

    display: block;
    margin: 2% auto;
    margin-top: 4%;
    width: 20%;
    height: 10%;

}

#botones {

    text-align: center;
    width: 80%;
    margin: 5% auto;

}

#codigo {

    display: block;
    width: 70%;
    margin: 2% auto;


}

@media screen and (min-width: 480px){
    
    form p, .error {

        font-size: 1em;
    
    }
    
    form h1 {
    
        font-size: 1.2em;
    
    }

    .boton {

        font-size: 0.4rem;
        /* height: 20%; */
    
    }

}

@media screen and (min-width: 1025px){
    
    form p, .error {

        font-size: 1.2em;
    
    }
    
    form h1 {
    
        font-size: 1.4em;
    
    }

    .boton {

        font-size: 0.8rem;
        /* height: 20%; */
    
    }

}