/*
    VERSiÓN MOviL
*/
/*Imagen de fondo de la pantalla*/
#index{
    background-image: url(../img/fondoError.jpg);
}
/*Fin fondo*/

/*Estilo de la caja del formulario*/
form{
    background-color: white;
    margin-top: 35px;
}
/*Fin caja form*/

/*Estilo general de los elementos*/
form div{
    padding: 1% 0 2% 5%;
}
/*Fin elementos formulario*/

/*Estilo de la caja del nombre de las herramientas*/
#nombre p{
    padding-right: 5%;
}

#nombre [type=text]{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0.35%;
    padding-bottom: 0.35%;
    padding-left: 0.5em;
}

#nombre [type=text]::placeholder{
    font-size: small;
}
/*Fin nombre herramientas*/

/*Estilo de la caja para subir imagenes*/
#imagen label{
    background-color: black;
    color: white;
    padding: 0.5em;
    border-radius: 1em;
    width: 7em;
    font-size: 15px;
    cursor: pointer;
    z-index: 0;
    transition: 0.5s;
}

#imagen label:hover{
    background-color: #EEC51F;
    color: black;
}

#subirImg{
    /*Esto esta hecho para "quitar" la caja del input*/
    display: none;
}

#imgVision{
    margin-top: 50px;
}
/*Fin imagenes*/

/*Estilo del campo de texto de descripcion*/
textarea{
    /*Estilo para que el campo de texto no se pueda hacer mas grande*/
    width: 70%;
    height: 110px;
    resize: none;
    background-color: black;
    border: none;
    transition: 0.5s;
}

textarea::placeholder{
    font-size: medium;
    color: #e1dede;
}

textarea:focus{
    outline: none;
    background-color: grey;
    text-shadow: -0.5px 0.5px 0 black,
        0.3px 0.8px 0 black,
        0px -0.8px 0 black,
        1px 0.8px 0 black,
        0.7px -0.6px 0 black,
        -0.8px -0.5px 0 black;
}
/*Fin descripcion*/

/*Estilo del boton de enviar*/
#posbot{
    display: flex;
    padding: 0%;
    justify-content: right;
}
.boton{
    padding: 1% 2% 1% 2%;
    margin: 0% auto 0% auto;
}
/*Fin del boton*/