/* Navegacion */

    /*
    Convertimos header en flex
    Su contenido comenzará al inicio del contenedor (quizá luego ajustemos márgenes)
    Cambiamos el color del fondo
    Ajustamos el tamaño
    */

    header {
        display:flex;
        justify-content: flex-start;
        background-color:black;
        width: 100%;
        height: 80px;
    }
    /*
    Ajustamos la posición del logo
    Ajustamos su tamaño
    */
    header img {
        margin-top:10%;
        margin-left: 5%;
        width: 191px;
        height: 44px;
    }
    /* 
    Le quitamos el formato a los textos dentro del nav,
    los alineamos verticalmente
    Cambiamos el cursor al pasar encima de ellos 
    */
    nav *{ 
        text-decoration: none;
        color:black;
        margin-top:1%;
        cursor: pointer;
    }
    /*
    Convertimos nav en flex
    Habrá un espaciado entre elementos
    Cambiamos color de fondo
    Tendrá un borde curvo
    Lo ajustamos verticalmente
    Ajustamos un margen respecto a la cabecera
    Ajustamos su tamaño
    */
    nav {
        display:flex;
        justify-content: space-around;
        background-color:#EEC51F;
        border-radius:1em;
        margin-top:1.5%;
        margin-left: 10%;
        width: 455px;
        height: 28px;
    }
    /* 
    Cajita 
    */
    #nav-btn-mas{
        display:flex;
        margin-left: -1em;
        flex-direction:column;
        text-align:center;
    }

    .oculto {
        visibility:hidden;
        background-color: #EEC51F;
    }
    #nav-btn-mas:hover>.oculto {visibility: visible;}


    ul {
        list-style-type:none;
        text-decoration: none;
        margin-top: 1.2%;
        color:white;
    }

    ul li a{
        text-decoration: none;
        color:white;
    }
/* Media móvil */
@media Screen and (max-width:480px) {
  

    
}

/* Media ordenador */
@media Screen and (min-width: 1025px) {

}

