/*

ESTILO DE MOVIL

*/
/*Estilo de la parte de datos*/
.usucon_Man{
    display: grid;
    margin: auto;
    text-align: left;
    width: 70%;
}

.usucon_Man{
    /*Se impide que se pueda editar el nombre, apellido y el correo*/
    pointer-events: none;
}

.usucon_Man:nth-child(6){
    /*El "nth-child(6)" es para especificar el campo de texto de telefono, haciendo esto permite escribir*/
    pointer-events: all;
}
/*Fin de datos*/

/*Estilo de la caja de botones*/
#cajaBot{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

#cajaBot label{
    margin-top: auto;
    margin-bottom: auto;
    padding: 4px;
    height: 10px;
}

#cajaBot input{
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px 6px;
}
/*Fin caja botones*/

/*Estilo de los botones*/
.boton{
    padding: 1.5%;
}
/*Fin botones*/

/*Estilo de la explicacion sobre las revisiones*/
#infor_Man{
    font-size: x-small;
    overflow: hidden;
    margin: 2em 0.5em 2em 0.5em;
    display: block;
    text-align: center;
}
/*Fin revisiones*/

/*Estilo de la caja para la foto de la portada*/
#cajaFoto{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    background-color: red;
}
/*Fin caja portada*/

/*Estilo de la informacion sobre las extensiones y las imagenes*/
#formatos_Man{
    margin: 1em 0.25em 0em 0.25em;
    text-align: center;
    overflow: hidden;
}

#imagenes_Man{
    display: flex;
    justify-content: space-evenly;
}

#imagenes_Man > img{
    width: 4em;
    height: auto;
}
/*Fin extensiones*/

/*Estilo del boton para subir manuales*/
#subir_Man {
    /*Esto esta hecho para "quitar" la caja del input*/
    display: none;
}
/*Fin manuales*/

/*Estilo del nombre del manual*/
#nombreManual{
    font-size: 8px;
}
/*Fin nombre*/

/*

ESTILO DE TABLET

*/
@media screen and (min-width: 480px) {
    *{
        transition: ease all 0.5s;
    }

    /*Estilo del titulo*/
    #titulo_Man{
        font-size: 2em;
    }
    /*Fin de titulo*/

    /*Estilo de la parte de usuario y contraseña*/
    .usucon_Man{
        font-size: 1.2em;
    }
    /*Fin de usuario y contraseña*/

    /*Estilo de los botones*/
    .botones{
        padding: 2%;
    }
    /*Fin botones*/

    /*Estilo de la ecplicacion sobre las revisiones*/
    #infor_Man{
        font-size: medium;
    }
    /*Fin revisiones*/

    /*Estilo de la informacion sobre las extensiones y las imagenes*/
    #formatos_Man{
        font-size: large;
    }

    #imagenes_Man{
        display: flex;
        justify-content: space-evenly;
    }

    #imagenes_Man > img{
        width: 5em;
        height: auto;
    }
    /*Fin extensiones*/

    /*Estilo del boton de enviar*/
    #cajaBot input{
        padding: 4px 2px 4px 2px;
        height: 25px;
    }
    /*Fin boton enviar*/

    /*Estilo del nombre del manual*/
    #nombreManual{
        font-size: 15px;
    }
    /*Fin nombre*/
}
/*

ESTILO DE ORDENADOR

*/
@media screen and (min-width: 1025px) {
    *{
        transition: ease all 0.5s;
    }

    /*Estilo de la caja madre*/
    form{
        width: 80%;
    }
    /*Fin madre*/

    /*Estilo del titulo*/
    #titulo_Man{
        font-size: 2.5em;
    }
    /*Fin de titulo*/

    /*Estilo de la parte de usuario y contraseña*/
    .usucon_Man{
        font-size: 1.5em;
    }
    /*Fin de usuario y contraseña*/

    /*Estilo de la informacion sobre las revisiones*/
    #infor_Man{
        font-size: large;
    }
    /*Fin revisiones*/

    /*Estilo del boton*/
    #boton_Man{
        font-size: large;
    }
    /*Fin boton*/

    /*Estilo del placeholder del telefono*/
    #telefono::placeholder{
        font-size: x-large;
    }
    /*Fin placeholder*/

    /*Estilo del nombre del manual*/
    #nombreManual{
        font-size: 20px;
    }
    /*Fin nombre*/
}