#menuAdmin{
    position: fixed;
    width:25%;
    height: 100vh;
    background-color: black;
    color: white;
    margin:0;
    overflow-y: scroll;
    font-size: 0.5em;
}
#logo{
    width: 100%;
    padding-top: 1em;
}

#listaAdmin, #listaAdmin2{
    list-style: none;
    display: flex;
    padding: 0;
    text-align: center;
}
#listaAdmin2{
    align-items: center;
    /* bottom: 0; */
    margin-bottom: 30%;
    margin-top: 60%;
}
#listaAdmin{
    flex-direction: column;
    /* margin-top: 50%; */
}
#listaImgCentro{
    width: 70%;
}
#listaImgFP{
    width: 70%;
}
#listaAdmin a{
    padding-top: 10%;
    padding-bottom: 10%;
}
#listaAdmin a:last-child{
    margin-top: 60%;
}
#listaAdmin a:first-child{
    margin-top: 50%;
}

#listaAdmin a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
#listaAdmin a:hover{
    font-weight: bold;
    background-color: white;
    color: black;
    transition-duration: 0.5s;
    animation-name: letra;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;    
}

@keyframes letra {
    
    from {
        font-size: 1.2em;
    }
    to {
        font-size: 1.7em;        
    }
}

@media screen and (min-width: 480px){
    #listaAdmin a{
        font-size: 2em;
    }
    #listaAdmin a:first-child{
        margin-top: 40%;
    }
    #listaAdmin a:last-child{
        margin-top: 40%;
        margin-bottom: 40%;
    }
    @keyframes letra {
    
        from {
            font-size: 2em;
        }
        to {
            font-size: 2.5em;        
        }
    }
} 

@media screen and (min-width: 1025px) {
    #listaAdmin a{
        font-size: 2.5em;
    }
    #listaAdmin a:first-child{
        margin-top: 5%;
    }
    #listaAdmin a:last-child{
        margin-top: 10%;
    }
    @keyframes letra {
    
        from {
            font-size: 2.5em;
        }
        to {
            font-size: 3.5em;        
        }
    }
    #listaAdmin a{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #listaAdmin2{
        margin-top: 0;
        margin-bottom: 0;
    }
    #menuAdmin{
        overflow-y: hidden;
    }
}