/*
    ESTILO MOVIL
*/
/*Estilo de la caja general*/
#menuAdmin{
    position: fixed;
    width:25%;
    height: 100vh;
    background-color: black;
    color: white;
    margin:0;
    overflow-y: scroll;
    font-size: 0.5em;
}
/*Fin caja general*/

/*Estilo del logo*/
#logo{
    width: 100%;
    padding-top: 1em;
}
/*Fin logo*/

/*Estilos comunes de las dos listas*/
#listaAdmin, #listaAdmin2{
    list-style: none;
    display: flex;
    padding: 0;
    text-align: center;
}
/*Fin comunes listas*/

/*Estilo de los enlaces*/
#listaAdmin{
    flex-direction: column;
}

#listaAdmin a{
    padding-top: 30px;
    padding-bottom: 10px;
}

#listaAdmin a:last-child{
    margin-top: 60%;
}

#listaAdmin a:first-child{
    margin-top: 50%;
}

#listaAdmin a{
    color: white;
    text-decoration: none;
    height: 40px;
    font-size: 1.6em;
}

#listaAdmin a:hover{
    font-weight: bold;
    background-color: white;
    color: black;
    transition-duration: 0.5s;
    animation-name: letra;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;    
}

@keyframes letra {
    
    from {
        font-size: 1.2em;
    }
    to {
        font-size: 1.7em;        
    }
}
/*Fin enlaces*/

/*Esilo imagenes*/
#listaAdminImg{
    margin-top: 60%;
    width: 100%;
    margin-left: 0;
    flex-direction: column;
}
#listaImgCentro{
    width: 100%;
    height: auto;
}
#listaImgFP{
    width: 80%;
    height: auto;
}
/*Fin imagenes*/

/*
    ESTILO TABLET
*/
@media screen and (min-width: 480px){
    /*Estilo de enlaces*/
    #listaAdmin a{
        font-size: 2.3em;
        padding-top: 40px;
        padding-bottom: 28px;
    }
    #listaAdmin a:first-child{
        margin-top: 40%;
    }
    #listaAdmin a:last-child{
        margin-top: 40%;
        margin-bottom: 40%;
    }
    @keyframes letra {
    
        from {
            font-size: 2em;
        }
        to {
            font-size: 2.5em;        
        }
    }
    /*Fin enlaces*/

    /*Estilo imagenes*/
    #listaAdminImg{
        margin-top: 0%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #listaImgCentro{
        width: 100%;
        height: auto;
    }

    #listaImgFP{
        width: 100%;
        height: auto;
    }
    /*Fin imagenes*/
} 

@media screen and (min-width: 1025px) {
    #listaAdmin a{
        font-size: 2.5em;
    }
    #listaAdmin a:first-child{
        margin-top: 5%;
    }
    #listaAdmin a:last-child{
        margin-top: 10%;
    }
    @keyframes letra {
    
        from {
            font-size: 2.5em;
        }
        to {
            font-size: 3.5em;        
        }
    }
    #listaAdmin a{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    #listaAdmin2{
        margin-top: 0;
        margin-bottom: 0;
    }
    #menuAdmin{
        overflow-y: hidden;
    }
}