/*
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Georama', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200;900&family=Quattrocento+Sans&family=Red+Hat+Display:wght@300&family=Roboto:wght@100&display=swap');

body:not(header) {
    font-family: 'Quattrocento Sans',sans-serif;
}

header:not(header ul) {
    font-family:'Georama',sans-serif;    
}

#txtEscribir {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}

#index {
    background-image: url("../img/fondoIndex.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#index #section1 {
    margin-top: 5%;
    /* background-image: url("../img/fondoIndex.jpg"); */
    /* background-color:red; */
    height: 10em;
    width: 100%;
    text-align:center;
    color:white;
}

#index #section1 img {
    width:10em;
    height:10em;
}

#index section a:not(article a):hover {
    font-size: 3.5em;
    transition: font-size 1s;
}

#index section a:not(article a){
    text-decoration: none;
    color:white;
    text-transform:uppercase;
    background-color: #EEC51F;
    border-radius: 0.3em;
    font-size: 3em;
    box-shadow: 10px 20px 30px black;
    padding: 30px;
    transition: font-size 1s;
}

#index section a {
    transition: font-size 1s;
}

#index section a:hover {
    font-size: 1.7em;
    transition: font-size 1s;
}



#index #txtEscribir {
    /* width:fit-content; */
    /* text-align:center; */
    font-size: 3em;
}

#index #section2 {
    display:flex;
    flex-direction:column;
}

#index #section2 article {
    margin-left:auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    border-radius: 0.3em;
    width: 70%;
    height: 310px;
    background-color:white;
    box-shadow: inset 0 0 10px 0.1px black;
}

#index section article a {
    text-decoration: none;
    color:white;
    text-transform:uppercase;
    background-color: #EEC51F;
    border-radius: 0.3em;
    font-size: 1em;
    box-shadow: 10px 20px 30px black;
    padding: 5px;
}

/*De eimer*/

#miModal:target{
    opacity:1;
    pointer-events:auto;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }

.loader {
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
  
  /* Fin */

  /* Cuando estoy en móvil el menú se quedará en su sitio,
Si abro el menú, este tapará todo */
@media Screen and (max-width: 480px) {
    body label, body header {
        position:absolute;
    }
    
    #index label {
        z-index: 2;
    }
    
    #index header {
        z-index: 1;
    }
}
/* Tablet */
@media Screen and (min-width:480px) {
    
    #index section article > * {
        margin-bottom: 30px;
    }

    #index section article a {
        padding: 20px;
    }

    #index section article {
        font-size: 1.3em;
    }
    
    #index section a:hover {
        font-size: 1.2em;
        transition: font-size 1s;
    }
}
/* Ordenador */
@media Screen and (min-width: 1025px) {

    #index section article {
        font-size: 2em;
    }

    #index #section2 {
        font-size: 0.7em;
        flex-direction: row;
    }
    
    #index #section2 article {
        justify-content: space-around;
        
    }
}


  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

/* Se aplica en JavaScript */
@Keyframes animacionH1 {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}