/*
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Georama', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200;900&family=Quattrocento+Sans&family=Red+Hat+Display:wght@300&family=Roboto:wght@100&display=swap');

body:not(header) {
    font-family: 'Quattrocento Sans',sans-serif;
}

header:not(header ul) {
    font-family:'Georama',sans-serif;    
}

#txtEscribir {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
}

.error {

  font-size: 0.8em;
  color: red;
  font-weight: bold;

}

.obligatorio {

  color: red;

}

.exito {

  color: green;
  font-size: 1.8em;
  font-weight: bold;

}

#index {
    background-image: url("../img/fondoError.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#index #section1 {
    margin-top: 5%;
    /* background-image: url("../img/fondoIndex.jpg"); */
    /* background-color:red; */
    height: 10em;
    width: 100%;
    text-align:center;
    color:white;
}

#index #section1 img {
    width:10em;
    height:10em;
}

#index section a:not(article a):hover {
    font-size: 3.5em;
    transition: font-size 1s;
}

#index section a:not(article a){
    text-decoration: none;
    color:white;
    text-transform:uppercase;
    background-color: #EEC51F;
    border-radius: 0.3em;
    font-size: 3em;
    box-shadow: 10px 20px 30px black;
    padding: 30px;
    transition: font-size 1s;
}

#index section a {
    transition: font-size 1s;
}

#index section a:hover {
    font-size: 1.7em;
    transition: font-size 1s;
}



#index #txtEscribir {
    font-size: 3em;
}

#index #section2 {
    display:flex;
    flex-direction:column;  
}

#index #section2 article {
    margin-left:auto;
    margin-right: auto;
    margin-top: 10%;
    text-align: center;
    border-radius: 0.3em;
    width: 70%;
    height: auto;
    background-color:white;
    box-shadow: inset 0 0 10px 0.1px black;
}

#index #section2 article img {
  bottom:0;
  width:100%;
  margin-bottom:0;
}

#index section article a {
    text-decoration: none;
    color:white;
    text-transform:uppercase;
    background-color: #EEC51F;
    border-radius: 0.3em;
    font-size: 1em;
    box-shadow: 10px 20px 30px black;
    padding: 5px;
    margin-bottom:0;
}

/*De eimer*/

/* Estilos para el Load */
.modal{
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0.7;
}

#miModal:target{
  opacity:1;
  pointer-events:auto;
}

.loader {  
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}
/*
Estilo general de los formularios
*/

/*Estilo general de la caja de formulario*/
form{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 3%;
  border: 4px solid #000000;
  border-radius: 17px;
  width: 75%;
}
/*Fin caja general*/

/*Estilo del titulo del formmulario*/
.tituloForm{
  text-align: center;
}
/*Fin titulo*/

/*Estilo de las cajas de tipo texto del formulario*/
.textoForm{
  background-color: black;
  border: none;
  border-radius: 1em;
  outline: none;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #EEC51F;
  padding-left: 0.5em;
  transition: 0.5s;
}

.textoForm::placeholder{
  font-size: large;
  color: rgb(188, 188, 188);
}

/*Fin cajas texto formulario*/

/*Estilo del boton de enviar los formularios*/
.boton{
  background-color: black;
  color: white;
  border: outset;
  transition: 0.5s;
}

.boton:hover{
  color: #EEC51F;
  border: inset;
  border-color: #EEC51F;
  cursor: pointer;
}
/*Fin boton*/

/*Estilo de la animacion de los formularios*/
.textoForm:focus{
  outline: none;
  background-color: grey;
  text-shadow: -0.5px 0.5px 0 black,
    0.3px 0.8px 0 black,
    0px -0.8px 0 black,
    1px 0.8px 0 black,
    0.7px -0.6px 0 black,
    -0.8px -0.5px 0 black;
}
/*Fin animacion formulario*/

/*
Fin formularios
*/

  /* Cuando estoy en móvil el menú se quedará en su sitio,
Si abro el menú, este tapará todo */
@media Screen and (max-width: 480px) {
  #lblMenu, header {
    position:absolute;
  }
  
   #lblMenu {
    z-index: 999;
  }
  
  header {
    z-index: 998;
  }
}

/* Tablet */
@media Screen and (min-width:480px) {

  /*El fondo de pantalla cambia para tablet y ordenador*/
  #index {
    background-image: url("../img/fondoIndex.jpg");
  }
  
  #index section article > * {
    margin-bottom: 30px;
  }

  #index section article a {
    padding: 20px;
  }

  #index section article {
    font-size: 1.3em;
  }
  
  #index section a:hover {
    font-size: 1.2em;
    transition: font-size 1s;
  }

  #index #section1 {
    margin-top: 10%;
  }
}

/* Ordenador */
@media Screen and (min-width: 1025px) {

  .tituloForm{
    font-size: 2.5em;
  }

  #index section article {
      font-size: 1.7em;
  }

  #index #section2 p {
    font-size: 1.5em;
    text-align:center;
  }

  #index #section2 {
    font-size: .7em;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #index #section2 article{
    margin-left:5%;
    margin-right:5%;
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

/* Animacion para las lineas */
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/* Se aplica en JavaScript */
@Keyframes animacionH1 {
  from {
      opacity: 0;
      transform: translateY(-100px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}
/* Fin estilos Load */
